* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    position: relative; /* Permite posicionar a logo no canto */
    background-color: #d4af37;
    color: white;
    padding: 20px;
    border-bottom: black 3px solid;
    text-align: center; /* Centraliza o título e a barra de pesquisa */
  }
  
  header .logo {
    position: absolute; /* Posiciona a logo no canto superior esquerdo */
    top: 40px;
    left: 50px;
    width: 250px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    
  }
  .logo :hover {
    transform: scale(1.05); /* Aumenta a logo ao passar o mouse */
    transition: transform
    
  }

  header h1 {
    margin-bottom: 20px; /* Espaço entre o título e a barra de pesquisa */
  }

  header input {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
  }
  
  .banner {
    background-color: #ddd;
    padding: 40px;
    text-align: center;
    margin-top: 10px;
  }

  .banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* opcional, para suavizar bordas */
  }
  
  
  .destaques {
    padding: 20px;
  }
  
  .destaques h2 {
    margin-bottom: 20px;
  }
  
  .produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .produto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 200px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .produto:hover {
    transform: scale(1.03);
  }
  
  .imagem-produto {
    background-color: #ccc;
    height: 120px;
    margin-bottom: 10px;
  }
  
  .preco {
    font-size: 18px;
    color: #e60000;
    margin: 10px 0;
  }
  
  button {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc5200;
  }
  
  footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #d4af37;
    color: white;
    text-align: center;
    border-top: black 3px solid;
  }