:root {
    --primeira: #FFCA3A;
    --segunda: #333333;
    --text-color: #2D2D34;
    --background-color: #EAE8FF;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}
nav, aside {
    background-color: var(--segunda);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}